@tailwind base;
@tailwind components;
@tailwind utilities;

/* disable arrows for inputs type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.corners {
    border-radius: 0 10px 0px 10px;
}
